:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --primary-black-color: #000000;
  --secondary-black-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #2F303A;
  --additional-bg-color: #F5F4FA;
  --icon-color: #AFB1B8;
  --feature-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
body{
  margin: 0;
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */ 
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header--border {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  color: var(--primary-black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__part {
  color: var(--accent-color);
}

/* Site nav */ 

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link,
.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link {
  position: relative;
  color: var(--title-text-color);

  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {     
  color: var(--accent-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
 
  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.site-nav__link:hover::after {
  transform: scaleX(1);
}

.site-nav__link--active {
  color: var(--accent-color);
}

.site-nav__link--active::after {
  transform: scaleX(1);
}

/* Contact nav */

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav__link {
  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);
}

.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--accent-color);
} 

.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
  
.contact-nav__icon:hover
.contact-nav__icon:focus {
  fill: var(--accent-color);
}
  
/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  background-color: var(--secondary-bg-color);
}

.hero__title {
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */ 

.button {
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--additional-bg-color);
}

.button.order {
  display: inline-block;
  
  min-width: 200px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
}

.btns-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}  

.btns-set__button {
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--additional-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  outline: none;
  border-radius: 4px;
  border: transparent;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.btns-set__button:hover, 
.btns-set__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btns-set__item:not(:last-child) {
  margin-right: 8px;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section */

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Features */

.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--feature-gap));
  margin-top: calc(-1 * var(--feature-gap));
}

.feature__item {
  flex-basis: calc(100% / 4 - var(--feature-gap));
  margin-left: var(--feature-gap);
  margin-top: var(--feature-gap);

}

.feature .thumb {
  background-color: var(--additional-bg-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.feature .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  text-transform: uppercase;
}

.feature .text {
  margin-bottom: ;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Works */

.section.works {
  padding-bottom: 94px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--feature-gap));
  margin-top: calc(-1 * var(--feature-gap));
}
  
.work__item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--feature-gap));
  margin-left: var(--feature-gap);
  margin-top: var(--feature-gap);
}

.work__image {
  display: block;
  width: 100%;
}

.work__type {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Team */

.section.team {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
 
  background-color: var(--additional-bg-color);
} 

.team-member {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--feature-gap));
  margin-top: calc(-1 * var(--feature-gap)); 
}
  
.team-member__item {
  flex-basis: calc(100% / 4 - var(--feature-gap));
  margin-left: var(--feature-gap);
  margin-top: var(--feature-gap);
  
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__image {
  width: 100%;
  margin-bottom: 30px;
}

.team-member__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member__pos {
  margin-bottom: 16px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-between;
 
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-media__item {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white-color:);
  border-radius: 50%;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px; 

  color: var(--icon-color);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
} 

.social-media__icon {
  fill: currentColor;
}

.social-media__link:hover,
.social-media__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Clients */

.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between  ;
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
} 

.clients__icon {
  fill: currentColor;
}

.clients__link:hover, 
.clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}  

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.logo--inverse {
  color: var(--white-color);
}

.address .text {
  margin-top: 20px;
  margin-bottom: 9px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-black-color);
}

.address .link:not(:last-child) {
  margin-bottom: 9px;
}

.social {
  margin-left: 70px;
}

.join {
  display: flex;
}

.social .text {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  text-transform: uppercase;
}

.join li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join li:not(:last-child) {
  margin-right: 10px;
}

.join .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit; 
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
} 

.join .icon {
  fill: var(--white-color);
}

.join .link:hover,
.join .link:focus {
  background-color: var(--accent-color);
}

/* Form-footer */

.form-footer {
  max-width: 570px;
  margin-left: 93px;
}

.form-text {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);

}

.button-subscribe {
  min-width: 200px;
  padding: 10px 28px;
 
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: transparent;
  
  transition: box-shadow 250ms var(--timing-function);
}

.button-subscribe:hover,
.button-subscribe:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-subscribe .icon {
  margin-left: 10px;
}

.subscribe {
  display: flex; 
  justify-content: center;

  margin-top: 20px;
}

.input-subscribe {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  
  margin-right: 12px;
  color: var(--secondary-black-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.input-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--secondary-black-color:);
}

/* Cards */ 

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--feature-gap));
  margin-top: calc(-1 * var(--feature-gap));
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - var(--feature-gap));
  margin-left: var(--feature-gap);
  margin-top: var(--feature-gap);
  border: 1px solid #EEEEEE;

  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-list__item:hover,
.portfolio-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item:hover .card__content {
  transform: translateY(0);
} 

.card__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  position: relative;
  overflow: hidden;
}

.card__content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.card__desc {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}

.card__meta {
  padding: 20px 24px;
}

.card__title {
  margin-bottom: 4px;
  color: var(--title-text-color); 
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em; 
}

.card__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

/* Backdrop */ 

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Modal */ 

.modal {
  position: absolute;  
  top: 50%;
  left: 50%;
  overflow-y: auto;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  
  width: 30px;
  height: 30px;
  padding: 6px;

  display: flex;
  justify-content: center;

  color: var(--primary-black-color);
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);  
  cursor: pointer;
  outline: none;

  transition: color 250ms var(--timing-function);
}

.icon-close {
  fill: currentColor;
}

.button-close:hover,
.button-close:focus {
  color: var(--accent-color);
}

.form-order {
  max-width: 448px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field .label{
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field .input {
  width: 100%;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  
  transition: border 250ms var(--timing-function);
}

.form-field .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--timing-function);
}

.form-field .input:focus,
.form-field .input:hover {
  border: 1px solid var(--accent-color)
}

.form-field .input:focus ~ .icon,
.form-field .input:hover ~ .icon {
  fill: var(--accent-color);
}

.form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1,15;
  text-align: center;

  color: var(--title-text-color);
}

.form-field .comment {
  padding: 12px 16px;
  
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--timing-function);
}

.form-field .comment:focus,
.form-field .comment:hover {
  border: 1px solid var(--accent-color)
}

.form-field .input-wrapper {
  position: relative;
}

.form-check {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-check .label {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 12px;
  cursor: pointer;
}

.input-check {
  margin-left: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.icon-check use {
  display: none;
}

.input-check:checked ~ .icon-check use {
  display: block;
}

.input-check:checked ~ .icon-check {
  border: none;
  background-color: var(--accent-color);
}

.agreement {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.form-send {
  display: flex;
  justify-content: center;
}

.button-send {
  min-width: 200px;
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
 
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
  outline: none;
}

.button-send:hover,
.button-send:focus {
  background-color: #188CE8;
}